*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(278, 68%, 11%);
}

.corpo{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.background{
    position: relative;
    flex: 1;
    height: 100%;
    background-image: url('bg-main-desktop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card--img{
    position: absolute;
    top: 50%;
    right: -60%;
    transform: translate(-50%,-50%);
    max-width: 325px;
}

.card--img .card{
    width: 350px;
    height: 200px;
    background-size: 100% 100%;
}

.card--img .card:nth-of-type(1){
    background-image: url('bg-card-front.png');
}

.card--img .card:nth-of-type(2){
    margin-top: 15px;
    position: relative;
    left: 20%;
    background-image: url('bg-card-back.png');
}

.card .logo{
    width: 100%;
    height: 45%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo .bola:nth-of-type(1){
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.logo .bola:nth-of-type(2){
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

.card--img .numero{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 25px;
    color: white;
    font-size: 26px;
    text-transform: uppercase;
}

.contem--nome-expedicao{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    font-size: 13px;
    text-transform: uppercase;
}

.contem--nome-expedicao .nome{
    width: 50%;
    text-align: left;
    color: white;
}

.contem--nome-expedicao .expedicao{
    width: 50%;
    text-align: right;
}

.contem--nome-expedicao .expedicao span{
    color: white;
}

.card .cvc{
    position: absolute;
    top: calc(50% - 10px);
    right: 45px;
    color: white;
    font-size: 14px;
}

.separador{
    width: 20%;
}

.conteudo{
    width: 49%;
}

form{
    max-width: 350px;
    transition: all ease 0.35s;
}

form input{
    display: block;
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: 2px solid rgb(210, 210, 210);
}

form label{
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 3px;
    display: block;
    font-weight: bold;
}

form label:nth-of-type(2){
    margin-top: 20px;
}

.dados--cartao{
    margin: 20px 0;
}

form p{
    color: red;
    margin-top: 3px;
}

form .dados--cartao{
    display: flex;
}

.data{
    margin-right: 15px;
    width: 40%;
}

.data .alinhar{
    display: flex;
    align-items: flex-start;
}

.data .mes{
    margin-right: 7px;
}

form input[type=submit]{
    border: none;
    background-color: hsl(278, 68%, 11%);
    color: white;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
}

.contem--menssagem--sucesso{
    max-width: 350px;
    text-align: center;
    display: none;
}

.menssagem--sucesso{
    margin-top: 20px;
}

.menssagem--sucesso h1{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.menssagem--sucesso p{
    color: hsl(279, 6%, 55%);
    font-size: 15px;
}

.button--continuar{
    width: 100%;
    padding: 13px;
    border-radius: 7px;
    margin-top: 40px;
    background-color: hsl(278, 68%, 11%);
    cursor: pointer;
}

.button--continuar p{
    color: white;
}

.attribution{
    position: absolute;
    text-align: left;
    bottom: 10px;
    font-size: 15px;
}

@media (max-width: 995px){
    .separador{
        width: 15%;
    }
}

@media (max-width: 860px){
    .separador{
        width: 13%;
    }

    .card--img .card{
        width: 320px;
        height: 170px;
    }

    .logo .bola:nth-of-type(1){
        width: 30px;
        height: 30px;
    }
    
    .logo .bola:nth-of-type(2){
        width: 15px;
        height: 15px;
    }

    .card--img .numero{
        font-size: 26px;
    }
}

@media (max-width: 800px){
    .corpo{
        display: block;
    }

    .background, .separador, .conteudo{
        width: 100%;
    }

    .background{
        height: 250px;
    }

    .card--img{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,0);
        max-width: 400px;
        width: 93%;
    }
    
    .card--img .card:nth-of-type(1){
        position: absolute;
        top: 113px;
        z-index: 10000;
    }
    
    .card--img .card:nth-of-type(2){
        left: calc(100% - 320px);
    }

    .separador{
        height: 100px;
    }

    form{
        width: 90%;
        margin: 0 auto;
    }

    .contem--menssagem--sucesso{
        margin: 0 auto;
        width: 90%;
    }

    .attribution{
        position: relative;
        text-align: center;
        top: 20px;
        font-size: 15px;
    }
}

@media (max-width: 380px){

    .card--img .card{
        width: 300px;
        height: 170px;
    }
    
    .card--img .card:nth-of-type(2){
        left: calc(100% - 300px);
    }

    .card--img .numero{
        font-size: 22px;
    }

    .separador{
        height: 100px;
    }
}

@media (max-width: 320px){
    .card--img .card:nth-of-type(2){
        left: 0;
    }
    .separador{
        height: 90px;
    }
}